<h1>Posts</h1>

<ul>
<% @posts.each do |post| %>
<li>
<%= link_to post.title, post_path(post) %>
<%= link_to 'Edit', edit_post_path(post) %>
</li>
<% end %>
</ul>

<%= link_to 'home', posts_path %> | <%= link_to 'New', new_post_path %>